#footer{
    margin: 10px auto;
}

#footer-wrapper{
    margin: auto; /* Centralize footer */
    text-align: center;
    width: 996px; /* Fix the size of footer bar */
}

#footer-a a{
    color: #307FB7;
    margin-right: 5px;
    text-decoration: none;
}

#footer-a a:hover{
    text-decoration: underline;
}

#footer-b{

}